<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:aspectj-autoproxy/>
    <bean id="Homework" name="Homework" class="org.example.bean.Homework" scope="prototype"/>
    <bean id="Student" name="Student" class="org.example.bean.Student" scope="prototype"/>
    <bean id="StudentHomework" name="StudentHomework" class="org.example.bean.StudentHomework" scope="prototype" />
    <bean id="Teacher" name="Teacher" class="org.example.bean.Teacher" scope="prototype"/>
    <bean id="JdbcService" name="JdbcService" class="org.example.service.JdbcService" scope="prototype"/>
    <bean id="ServiceAspect" name="ServiceAspect" class="org.example.aspect.ServiceAspect" scope="prototype"/>
</beans>
